html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color:#666;
  background-color:#f1f1f1;
  font-family: Palatino, "Palatino Linotype", "Book Antiqua", serif;
  overflow:auto;
}

header h1 {
  color: black;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  font-size: 15vw;
  margin: 1vw;
  text-align: center;
  text-transform: uppercase;
}

header h1 a {
  text-decoration: none;
}

main section {
  width : 75%;
  margin: 1vw auto;
  font-size: 3vw;
  text-align: left;
}

footer {
  margin: 5vh 0;
  font-size: 0.5vw;
  text-align: center;
}

h3 a {
  color: #666;
  font-size: medium;
}

a {
  color: black;
}

ul {
  margin: 0;
  padding-left: 1.2em;
}

li {
  list-style-type: square;
  padding-bottom: 0.25em;
}

code {
  font-size: 1vw;
}

.img-container {
  text-align: center;
}

.img-container img {
  height: 50vh;
  max-height: 500px;
}

.centered {
  text-align: center;
}

.small {
  font-size: small;
}

@media all and (min-width: 1000px) {
  header h1 {
    font-size: 8vw;
  }
  main section {
    width : 50%;
    font-size: 1.5vw;
  }
  footer {
    margin: 3vh 0 0;
    font-size: 1vw;
  }
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/IQHow_FEYlDC4Gzy_m8fcgFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}
