html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color:#666;
  background-color:#f1f1f1;
  font-family: Palatino, "Palatino Linotype", "Book Antiqua", serif;
  overflow:auto;
}

header h1 {
    color: black;
    font: bold Montserrat, sans-serif;
    font-size: 15vw;
    margin: 1vw;
    text-align: center;
    text-transform: uppercase;
}

main section {
  width : 90%;
  margin: auto;
  text-align: left;
  padding: 5% 0;
}

footer {
  text-align: center;
}

a {
    color: black;
}

li {
  list-style-type: square;
}

.img-container {
  text-align: center;
}

.img-container img {
  max-width: 90%;
  height: auto;
}

@media all and (min-width: 540px) and (max-width: 639px) {
  header h1 {
    font-size: 12vw;
  }
  main section {
    width : 75%;
  }
  .img-container img {
    max-width: 75%;
  }
}

@media all and (min-width: 640px) {
  header h1 {
    font-size: 10vw;
  }
  main section {
    width : 50%;
  }
  .img-container img {
    max-width: 50%;
  }
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/IQHow_FEYlDC4Gzy_m8fcgFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}
