html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header, footer {
    text-align: center;
    color: gray;
}

body {
  background-color: rgb(241,241,241);
}

section {
  background-color:white;
  padding: 1vw;
  margin: 1rem 2vw;
  border-radius: 1rem;
}

section section {
  border-color: rgb(241,241,241);
  border-width: 2px;
  border-radius: 0;
  border-style: solid;
}

section section section {
  border-style: none;
  padding: 1rem 0 0;
  margin: 0;
}

h2, h3, dt {
  color: gray;
  font-family: serif;
  font-weight: bold;
  margin: 0;
}

h3 {
  padding-top: 0.5rem;
}

.two_cols {
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
}

.three_cols {
  column-count: 3;
  -moz-column-count: 3;
  -webkit-column-count: 3;
}

.example_engagement {
  border-style: solid;
  border-color: rgb(241,241,241);   
  border-width: 2px;
  padding: 0.5rem; 
  margin: 0.5rem 0;
}

.example_engagement:before {
  content: "Example Engagement:";
  color: gray;
  font-family: serif;
  font-weight: bold;
}

.duration {
  font-size: small;
  color: gray;
}

footer .print {
  display: none;
}

img {
  float: right;
  height: 2rem;
}

p {
  margin: 0 0 0.5rem;
}

dl {
  margin: 0;
}

dd {
  margin-left: 1rem;
}

ol {
  list-style: none;
  padding-left: 1em;
}

ol ol {
  list-style: square;
  padding-left: 1.5rem;
}

ol a {
  text-decoration: none;
}

ol a:link {
  color: black;
}

ol a:hover {
  text-decoration: underline;
}

ol a:visited {
  color: gray;
}

@media screen and (max-width: 999px) {
  .hide_if_small {
    display: none;
  }

  .two_cols {
    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    }

  .three_cols {
    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
  }
}

@media print {
  html {
    font-size: 0.8rem;
    text-align: justify;
  }

  body {
    background-color: white;
  }

  section {
    margin: 1rem 0;
  }

  #contents {
    display: none;
  }

  #career_summary, #jpmorgan, #spektra, #synamic {
    page-break-before: always;
  }

  img {
    display: none;
  }

  a {
    text-decoration: none;
    color : black;
  }

  footer .display {
    display: none;
  }

  footer .print {
    display: inline;
  }
}
