html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header, footer {
    text-align: center;
    color: gray;
}

body {
  background-color: rgb(241,241,241);
}

section {
  background-color:white;
  padding: 1vw;
  margin: 2vw;
  border-radius: 1rem;
}

section section {
  border-color: rgb(241,241,241);
  border-width: 2px;
  border-radius: 0;
  border-style: solid;
  padding-top: 0;
}

section section section {
  border-style: none;
  padding: 0;
  margin: 0;
}

h2, h3, dt {
  color: gray;
  font-family: serif;
  font-weight: bold;
  margin: 0;
}

h3 {
  padding-top: 0.5rem;
}

.three_cols {
  column-count: 3;
  column-width: 50 rem;
}

.example_engagement {
  border-style: solid;
  border-color: rgb(241,241,241);   
  border-width: 2px;
  padding: 0.5rem; 
  margin: 0.5rem 0;
}

.example_engagement:before {
  content: "Example Engagement:";
  color: gray;
  font-family: serif;
  font-weight: bold;
}

footer .print {
  display: none;
}

img {
  float: right;
  height: 2rem;
}

p {
  margin: 0 0 0.5rem;
}

dl {
  margin: 0;
}

dd {
  margin-left: 1rem;
}

ol {
  list-style: none;
  padding-left: 1em;
}

ol ol {
  list-style: square;
  padding-left: 2rem;
}

ol a {
  text-decoration: none;
}

ol a:link {
  color: black;
}

ol a:hover {
  text-decoration: underline;
}

ol a:visited {
  color: gray;
}

@media (max-width: 999px) {
  .hide_if_small {
    display: none;
  }
}
