html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header, footer {
    text-align: center;
    color: gray;
}

section {
  padding: 1vw;
  margin: 2vw;
  text-align: justify;
}

#contents {
  display: none;
}

section section {
  padding-top: 0;
}

section section section {
  padding: 0;
  margin: 0;
}

h2, h3, dt {
  font-family: serif;
  font-weight: bold;
  margin: 0;
}

h3 {
  padding-top: 0.5rem;
}

.three_cols {
  column-count: 3;
  column-width: 50 rem;
}

footer .display {
  display: none;
}

img {
  display: none;
}

p {
  margin-bottom: 0;
}

dd {
  margin-left: 1rem;
}

a {
  text-decoration: none;
  color : black;
}

